#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    color: #2c3e50;
  }
  .nav{
      background-color: #333;
      overflow: hidden;
  }
  .nav a{
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 10px 14px;
      text-decoration: none;
      font-size: 14px;
      margin-right: 4px;
  }
  .nav a:hover{
      background-color: #ddd;
      color: #222;
  }
  body{
      padding: 0;
      margin: 0;
  }
.form-group {
    margin-bottom: 15px;
    padding-right: 1%;
}
select {
    width: 10%;
}
.PurchaseOrder{
    padding-top: 5px;
}
.PurchaseOrderDetail{
    padding-top: 5px;
}
.AddPOD{
    margin-top: 25px;
}
.table{
    width: 99%;
}
.Remark{
    display: flex;
}
.Taxation{
    padding-left: 0px;
}
.Taxation .TaxBtn{
    margin-top: 25px;
}

.Add input{
    width: 30%;
    height: 40px;
    padding-left: 20px;
    display: block;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid skyblue;
}
.Add button{
    width: 30%;
    height: 40px;
    border: 1px solid skyblue;
    background: skyblue;
    color: #fff;
    cursor: pointer;
}
.Header button{
    margin-top: 10px;
    float: right;
}

.dropdown-wrapper{
    max-width: 150px;
    position: relative;
    margin: 0 auto;
}
    .selected-item{
        height: 40px;   
        border: 2px solid lightgray;
        border-radius: 5px;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        font-weight: 600;
    }
    .dropdown-popover{
        position: absolute;
        border: 2px solid lightgray;
        top: 40px;
        left: 0;
        right:0;
        background-color: #fff; 
        max-width: 100%;
        padding: 10px;
    }
    #Search{
        width: 100%;
        height: 30px;
        border: 2px solid lightgray;
        font-size: 9px;
        padding-left: 8px;

    }
    .option{
        width:100%;
    }
    .ul{
        list-style: none;
        text-align: left;
        padding-left: 1px;
        max-height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    li{
        width:100%;
        border-bottom:1px solid lightgray;
        padding:10px;
        background-color: #f1f1f1;
        cursor: pointer;
        font-size:16px;
        
    }
p{
    margin: 10px 0 10px;
}